h1,
.h1 {
  font-size: 60px;
  line-height: 1.15;
  color: #fff;

  @include media-breakpoint-down(xl) {
    font-size: 50px;
  }

  @include media-breakpoint-down(md) {
    font-size: 40px;
  }
}

h2,
.h2 {
  font-size: 48px;
  line-height: 1.15;

  @include media-breakpoint-down(xl) {
    font-size: 40px;
  }

  @include media-breakpoint-down(md) {
    font-size: 36px;
  }

  &.sm {
    font-size: 40px;
    line-height: 1.15;

    @include media-breakpoint-down(xl) {
      font-size: 36px;
    }

    @include media-breakpoint-down(md) {
      font-size: 32px;
    }
  }
}

h3,
.h3 {
  font-size: 32px;
  line-height: 1.15;

  @include media-breakpoint-down(xl) {
    font-size: 28px;
  }

  @include media-breakpoint-down(md) {
    font-size: 26px;
  }
}

h4,
.h4 {
  font-size: 26px;
  line-height: 1.13;

  @include media-breakpoint-down(xl) {
    font-size: 24px;
  }

  @include media-breakpoint-down(md) {
    font-size: 22px;
  }
}

h5,
.h5 {
  font-size: 20px;
  line-height: 1.3;

  @include media-breakpoint-down(xl) {
    font-size: 18px;
  }
}

h6,
.h6 {
}

p,
.p {
  margin-bottom: 1.5em;
  font-size: 18px;
  line-height: 1.5;

  @include media-breakpoint-down(xl) {
    font-size: 16px;
  }

  &.sm {
    font-size: 16px;
    line-height: 1.4;
  }

  &.xs {
    font-size: 14px;
    line-height: 1.4;
  }
}

.fw-medium {
  font-weight: 500;
}

.fw-extrabold {
  font-weight: 800;
}

.fw-black {
  font-weight: 900;
}

.spaced {
  letter-spacing: .1em;
}

ul {

  li {
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
