@font-face {
  font-family: 'Champions';
  src: url('../fonts/subset-Champions.woff2') format('woff2'),
    url('../fonts/subset-Champions.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Champions';
  src: url('../fonts/subset-Champions-Bold.woff2') format('woff2'),
    url('../fonts/subset-Champions-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
