.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;

  @include media-breakpoint-down(lg) {
    margin-bottom: 120px;
  }

  &__picture {
    margin-bottom: 42px;
    display: flex;
    max-width: 100%;
    height: 160px;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
      height: auto;
    }
  }

  &__picture-img {
    max-width: 100%;
    max-height: 100%;
  }

  &__content {

    @include media-breakpoint-down(lg) {
      margin: 0 auto;
      max-width: 400px;
    }
  }

  &__date {
    margin-bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(#fff, .5);

    @include media-breakpoint-down(lg) {
      margin-bottom: 10px;
    }
  }

  &__title-wrapper {
    display: flex;
    min-height: 66px;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(lg) {
      min-height: 0;
    }
  }

  &__title {
    display: block;
    font-weight: 800;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: $primary;
    background: linear-gradient(113.84deg, #40b7e7 20.58%, #0c3aff 88.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include media-breakpoint-down(xl) {
      font-size: 18px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 24px;
    }
  }

  &__dscr {
    line-height: 1.25;
  }
}
