mixin step(data)
  .step&attributes(attributes)
    .step__picture
      img.step__picture-img(src="./img/" + data.picture, alt)
    .step__content
      .step__date= data.date
      .step__title-wrapper
        h4.step__title= data.title
      p.step__dscr.mb-0= data.dscr
