.slider {

  &__content {
    margin-left: -12px;
    padding-bottom: 160px;
    width: calc(100% + 24px);

    @include media-breakpoint-down(lg) {
      padding-bottom: 100px;
    }

    .slick-list {
      overflow: visible;
    }

    .slick-track {
      display: flex !important;
    }

    .slick-slide {
      height: auto;
    }

    .slick-arrow {
      position: absolute;
      bottom: -0;

      &.slick-prev {
        right: calc(50% + 28px);
      }

      &.slick-next {
        left: calc(50% + 28px);
      }
    }
  }

  &__item {
    margin: 0 12px;
  }
}
