.page {
  position: relative;
  overflow: hidden;
  background-image: url(../img/bottom-bg.png),
    linear-gradient(179.27deg, #0b3190 8.22%, #041139 24.74%);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;

  &__content {
    position: relative;
    z-index: 1;
  }

  &--main {

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: url(../img/main-bg.svg) no-repeat top center;
      background-size: cover;
    }
  }

  &--dark {
  }

  &--push {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}
