/* Bootstrap */

.btn {
  padding: 5px 18px;
  font-size: 16px;
  border-radius: 4px;

  &.btn-primary {
  }
}

/* Slick */

.slick-arrow {
  width: 50px;
  height: 50px;
  font-size: 0;
  background: url(../img/slider-arrow.svg) no-repeat center;
  border: 1px solid #40b7e7;
  border-radius: 50%;

  @include transition;

  &:hover {
    background: $primary url(../img/slider-arrow.svg) no-repeat center;
    border-color: $primary;
  }

  &.slick-prev {
    transform: rotate(180deg);
  }

  &.slick-next {
  }
}

.slick-dots {
  margin-top: 30px;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    margin-right: 20px;
    margin-bottom: 0;
    list-style: none;

    &:last-child {
      margin-right: 0;
    }

    &.slick-active {

      button {
        background: $primary;
      }
    }
  }

  button {
    display: block;
    width: 8px;
    height: 8px;
    font-size: 0;
    background: #fff;
    border-radius: 4px;
  }
}

/* Tabs */

.nav-tabs {
  margin-bottom: 38px;
  border: 0;

  .nav-item {
    margin-right: 48px;
    margin-bottom: 10px;

    @include media-breakpoint-down(xl) {
      margin-right: 32px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .nav-link {
    margin-bottom: 0;
    padding: 0;
    font-size: 30px;
    line-height: 1.3;
    color: #fff;
    border: 0;

    @include transition;

    &:hover {
      opacity: .7;
    }

    @include media-breakpoint-down(xl) {
      font-size: 24px;
    }

    &.active {
      color: #40b7e7;
      background: transparent;
      border: 0;
    }
  }
}

/* Tilda Fix */

*,
:after,
:before {
  box-sizing: border-box !important;
}
