mixin steps(data)
  .steps&attributes(attributes)
    .container
      .steps__wrapper
        +step({
          picture: 'step-3.png',
          date: 'Февраль-март 2021 года',
          title: 'Матчи 1/8 финала',
          dscr: '16 команд и 8 пар начнут борьбу в плей-офф. Самая яркая и наполненная драматургией стадия, по итогам которой лишь половина участников пройдут дальше по сетке.'
        }).steps__item
        +step({
          picture: 'step-4.png',
          date: '18 марта 2022 года',
          title: 'Жеребьевка 1/4 и 1/2 финала',
          dscr: 'До этого этапа дойдут только лучшие, здесь невозможно представить команду, которой просто "повезло". Жребий распределит участников сразу на два этапа вперед.'
        }).steps__item
        +step({
          picture: 'step-3.png',
          date: '26 мая 2022 года',
          title: '«Фестиваль чемпионов»',
          dscr: 'Перед решающим матчем Санкт-Петербург станет точкой притяжения всех футбольных болельщиков Европы. И по этому поводу планируется большой праздник: с розыгрышами призов, музыкой и футбольными челленджами.'
        }).steps__item
        +step({
          picture: 'step-2.png',
          date: '28 мая 2022 года',
          title: 'Финал Лиги чемпионов-2021/22',
          dscr: 'Здесь уже видели Кубок Конфедераций и Чемпионат Мира по футболу. Здесь принимали юбилейный ЕВРО. Теперь Санкт-Петербург ждет финал Лиги чемпионов. За пять лет с момента открытия стадион примет все крупнейшие футбольные турниры – о чем мечтать дальше?'
        }).steps__item
