.steps {
  margin-bottom: 145px;

  @include media-breakpoint-down(lg) {
    margin-top: 100px;
    margin-bottom: 0;
  }

  &__wrapper {
    display: flex;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    position: relative;
    padding: 0 24px;
    width: 25%;

    @include media-breakpoint-down(xl) {
      padding: 0 12px;
    }

    @include media-breakpoint-down(lg) {
      width: 100%;
    }

    &:after {
      position: absolute;
      z-index: 1;
      left: 100%;
      display: block;
      content: '';
      transform: translateX(-50%);

      @include media-breakpoint-down(lg) {
        top: calc(100% + 20px) !important;
        left: auto;
        transform: translateY(50%) rotate(90deg);
      }
    }

    &:nth-child(1) {

      &:after {
        top: 150px;
        width: 66px;
        height: 38px;
        background: url(../img/step-arrow-1.svg) no-repeat center;
      }
    }

    &:nth-child(2) {

      &:after {
        top: 50px;
        width: 66px;
        height: 38px;
        background: url(../img/step-arrow-2.svg) no-repeat center;
      }
    }

    &:nth-child(3) {

      &:after {
        top: 130px;
        width: 68px;
        height: 32px;
        background: url(../img/step-arrow-3.svg) no-repeat center;
      }
    }

    &:last-child {

      &:after {
        display: none;
      }
    }
  }
}
