
include ../blocks/header/header.pug
include ../blocks/menu/menu.pug
include ../blocks/logo/logo.pug
include ../blocks/countdown/countdown.pug
include ../blocks/front/front.pug
include ../blocks/info/info.pug
include ../blocks/card/card.pug
include ../blocks/steps/steps.pug
include ../blocks/step/step.pug
include ../blocks/material/material.pug
include ../blocks/slider/slider.pug
include ../blocks/footer/footer.pug
include ../blocks/socials/socials.pug
include ../blocks/article/article.pug
include ../blocks/page/page.pug
include ../blocks/final/final.pug
include ../blocks/back/back.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/document/document.pug
include ../blocks/down/down.pug
include ../blocks/docs/docs.pug
include ../blocks/contacts/contacts.pug