.article {

  &__cover {
    position: relative;
    margin-bottom: 44px;
    padding: 16px;
    display: flex;
    min-height: 560px;
    flex-direction: column;
    justify-content: space-between;

    @include media-breakpoint-down(xl) {
      min-height: 360px;
    }

    @include media-breakpoint-down(md) {
      min-height: 300px;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: linear-gradient(
        68.56deg,
        #051851 12.91%,
        rgba(5, 24, 81, .47) 48.81%,
        rgba(5, 24, 81, 0) 58.62%
      );
    }
  }

  &__cover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  &__cover-top {
    position: relative;
    z-index: 2;
  }

  &__cover-bottom {
    position: relative;
    z-index: 2;
    padding: 28px 33px;
    max-width: 535px;
    text-transform: uppercase;

    @include media-breakpoint-down(xl) {
      padding: 0;
      max-width: 400px;
    }
  }

  &__cover-title {
    letter-spacing: .1em;
    color: #fff;
  }

  &__date {
    margin-bottom: 23px;
    padding: 2px 5.3px;
    display: inline-flex;
    font-size: 12px;
    line-height: 1.09;
    color: rgba(#000, .5);
    background: #ffbf3e;
  }

  &__content {
    color: #fff;

    @include media-breakpoint-down(md) {
      margin-bottom: 40px;
    }

    h3 {
      margin-bottom: 25px;
      padding-right: 90px;
      opacity: .8;
      font-size: 30px;
      line-height: 1.3;

      @include media-breakpoint-down(xl) {
        margin-bottom: 30px;
        font-size: 28px;
      }

      @include media-breakpoint-down(md) {
        font-size: 26px;
      }
    }

    p {
      padding-right: 90px;
      color: rgba(#fff, .8);

      @include media-breakpoint-down(md) {
        padding-right: 0;
      }
    }

    img {
      margin: 10px 0 37px;

      @include media-breakpoint-down(md) {
        margin-top: 0;
        margin-bottom: 25px;
      }
    }

    &--light {
      padding-top: 16px;
      padding-bottom: 30px;
      background: #fff;
      border-radius: 4px;

      @include media-breakpoint-down(md) {
        padding-top: 0;
        padding-bottom: 15px;
      }

      h3 {
        margin-bottom: 16px;
        padding: 14px 90px 0 30px;
        color: #000;

        @include media-breakpoint-down(md) {
          margin-bottom: 5px;
          padding-right: 20px;
          padding-left: 20px;
        }
      }

      p {
        margin-bottom: 12px;
        padding: 14px 90px 0 30px;
        color: #000;

        @include media-breakpoint-down(md) {
          margin-bottom: 5px;
          padding-right: 20px;
          padding-left: 20px;
        }
      }

      img {
        margin-bottom: 23px;

        @include media-breakpoint-down(md) {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }

  &__aside-header {
    margin-bottom: 43px;
    padding: 4px 10px;
    display: inline-flex;
    font-size: 22px;
    line-height: 1.3;
    font-weight: 700;
    color: #00004a;
    background: #ffbf3e;
  }
}
