.socials {
  display: flex;

  &__item {
    margin-right: 22px;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(#fff, .42);
    border-radius: 50%;

    @include transition;

    &:hover {
      border-color: #fff;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__item-img {
  }
}
