mixin socials(data)
  .socials&attributes(attributes)
    a.socials__item(href="#")
      img.socials__item-img(src="./img/vk.svg", alt)
    a.socials__item(href="#")
      img.socials__item-img(src="./img/fb.svg", alt)
    a.socials__item(href="#")
      img.socials__item-img(src="./img/ig.svg", alt)
    a.socials__item(href="#")
      img.socials__item-img(src="./img/yt.svg", alt)