mixin material(data)
  a.material(href="#")&attributes(attributes)
    .material__picture
      img.material__picture-img(src="./img/" + data.picture, alt)
    .material__content
      if data && data.type == 'title'
        h4.material__title.material__title--lg.mb-0 В зоне: Быстрая контратака шерифа
      else
        .material__date 12 АПРЕЛЯ 2021
        h5.material__title.mb-10 В зоне: Быстрая контратака шерифа
        p.sm.material__dscr Криштиану Роналду размышляет о драматической победе своей команды над Вильярреа...