.material {
  position: relative;
  padding: 26px;
  display: flex !important;
  max-width: 300px;
  min-height: 405px;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;

  @include transition;

  @include media-breakpoint-down(lg) {
    max-width: 100%;
  }

  &:hover {
    color: #fff;

    .material__picture-img {
      transform: scale(1.05);
    }
  }

  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 4px;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: linear-gradient(356.3deg, #051851 22.32%, rgba(5, 24, 81, 0) 79.9%);
    }
  }

  &__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
    object-position: top center;

    @include transition;
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__date {
    margin-bottom: 10px;
    display: inline-flex;
    font-size: 12px;
    line-height: 1.09;
    font-weight: 700;
    color: rgba(#fff, .5);
  }

  &__title {
    font-weight: 700;

    &--lg {
      line-height: 1.3;
    }
  }

  &__dscr {
    margin-bottom: 0;
    color: rgba(#fff, .5);
  }

  &--colored {

    .material__date {
      padding: 2px 4.3px;
      color: rgba(#000, .5);
      background: #ffbf3e;
    }
  }
}
