mixin info(data)
  .info&attributes(attributes)
    .container
      .info__slider
        +card({
          picture: 'card-1.png',
          title: 'Вопросы о финале'
        }).card--new.info__item
        +card({
          picture: 'card-2.png',
          title: 'что такое финал ЛИГИ ЧЕМПИОНОВ'
        }).card--new.info__item
        +card({
          picture: 'card-3.png',
          title: 'история лиги чемпионов'
        }).card--new.info__item
