.info {
  margin-top: 80px;

  @include media-breakpoint-down(lg) {
    margin-top: 20px;
  }

  @include media-breakpoint-down(md) {
    margin-top: 80px;
  }

  &__slider {
    position: relative;

    @include media-breakpoint-down(lg) {
      margin: 0 auto;
      max-width: 400px;
    }

    .slick-list {
      padding-top: 120px !important;
      padding-right: 0 !important;
      padding-left: 0 !important;
      padding-bottom: 120px !important;

      @include media-breakpoint-down(lg) {
        padding-top: 50px !important;
        padding-bottom: 0 !important;
        height: auto !important;
      }
    }

    .slick-track {
      display: flex !important;

      @include media-breakpoint-down(lg) {
        display: block !important;
      }
    }

    .slick-arrow {
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);

      &.slick-prev {
        right: calc(50% + 220px);
        transform: translateY(-50%) rotate(180deg);

        @include media-breakpoint-down(xl) {
          right: calc(50% + 150px);
        }
      }

      &.slick-next {
        left: calc(50% + 220px);

        @include media-breakpoint-down(xl) {
          left: calc(50% + 150px);
        }
      }
    }

    &--static {
      margin-left: -12px;
      width: calc(100% + 24px);

      .slick-track {
        width: 100% !important;
      }

      .card.slick-slide {
        margin: 0 12px;
        opacity: 1;
        pointer-events: all;
        filter: none;
      }

      .card__btn {
        display: block;
      }
    }
  }

  &__item {

    &.slick-slide {
      height: auto;
      opacity: 0;
      pointer-events: none;
      filter: blur(5px);

      &.slick-active {
        opacity: 1;
        pointer-events: all;
        transform: scale(.83);
        transform-origin: left center;

        @include media-breakpoint-down(lg) {
          transform: scale(1);
        }
      }

      &.slick-current {
        transform: scale(1);
        filter: none;

        .card__btn {
          display: block;
        }

        & + .slick-slide {
          transform-origin: right center;
        }
      }
    }
  }
}
