.footer {
  padding-top: 150px;
  padding-bottom: 80px;

  @include media-breakpoint-down(xl) {
    padding-bottom: 40px;
  }

  &__top {
  }

  &__logo {
    max-width: 100%;
  }

  &__links-wrapper {
  }

  &__link {
    margin-bottom: 20px;
    display: block;
    font-size: 16px;
    line-height: 1.4;
    text-decoration: none;
    color: rgba(#fff, .5);

    @include transition;

    &:hover {
      color: #fff;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__final {
    display: flex;
    align-items: flex-start;

    @include media-breakpoint-down(sm) {
      margin: 50px auto 0;
      max-width: 184px;
    }
  }

  &__bottom {
    margin-top: 78px;

    @include media-breakpoint-down(md) {
      margin-top: 40px;
    }
  }

  &__copyright {
    margin-bottom: 0;
    color: rgba(#fff, .5);

    @include media-breakpoint-down(lg) {
      margin-top: 30px;
      text-align: center;
    }
  }
}
