mixin footer(data)
  .footer&attributes(attributes)
    .container
      .footer__top
        .row
          .col-lg-2.col-sm-2.col-4.d-flex.mx-auto.mx-sm-0
            +logo.footer__logo
          .col-lg-2.offset-lg-2.col-sm-3.offset-1.col-7.d-flex
            .footer__links-wrapper
              a.p.sm.footer__link(href="#") Город
              a.p.sm.footer__link(href="#") Стадион
              a.p.sm.footer__link(href="#") Медиа
              a.p.sm.footer__link(href="#") Организация
          .col-lg-2.col-sm-3.ms-auto.d-flex
            .footer__final
              +final
      .footer__bottom
        .row.flex-column-reverse.flex-lg-row
          .col-lg-6.d-flex
            .footer__copyright.p.xs The UEFA word, the UEFA logo and all marks related to UEFA competitions, are protected by trademarks and/or copyright of UEFA. No use for commercial purposes may be made of such trademarks. Use of UEFA.com signifies your agreement to the Terms and Conditions and Privacy Policy
          .col-lg-6.d-flex.justify-content-center.justify-content-lg-end.align-items-end
            +socials.footer__socials
