.document {
  padding: 11px 28px 13.5px 24px;
  display: flex;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid rgba(#0c3aff, .2);
  border-radius: 4px;

  @include media-breakpoint-down(xl) {
    align-items: flex-start;
  }

  @include media-breakpoint-down(md) {
    padding-right: 15px;
    padding-left: 15px;
    min-height: 120px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__wrapper {
    background: #fff;
    border-radius: 4px;
  }

  &__left {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
  }

  &__title {
    display: block;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 700;
    text-decoration: none;
    color: #00004a;

    @include transition;
  }

  &__date {
    font-size: 13px;
    line-height: 1.5;
    color: #000;
  }

  &__right {
    flex-shrink: 0;

    @include media-breakpoint-down(xl) {
      padding-top: 5px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
    color: #00004a;

    @include transition;

    @include media-breakpoint-down(xl) {
      font-size: 0;
    }

    &:before {
      margin-right: 8px;
      display: block;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      content: '';
      background: url(../img/icon-download.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(xl) {
        margin-right: 0;
      }
    }
  }
}
