mixin document(data)
  .document&attributes(attributes)
    .document__left
      a.document__title(href="#")= data.title
      .document__date 01.06.2021
    .document__right
      a.document__link(href="#") Скачать PDF