.docs {
  margin-top: 50px;

  &__title {
    font-size: 47px;

    @include media-breakpoint-down(xl) {
      font-size: 32px;
    }
  }

  &__subheader {
    font-size: 23px !important;
    text-align: left;

    @include media-breakpoint-down(xl) {
      font-size: 19px !important;
    }
  }
}
