mixin card(data)
  .card&attributes(attributes)
    if data && data.picture
      a.card__picture(href="#")
        img.card__picture-img(src="./img/" + data.picture, alt)
    .card__content
      a.h4.card__title(href="#")= data.title
      a.card__btn(href="#") Подробнее