.card {
  position: relative;
  padding: 40px 16px;
  display: flex !important;
  min-height: 526px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: $primary url(../img/card-bg.png) no-repeat center;
  background-size: cover;
  border-radius: 4px;

  @include transition;

  @include media-breakpoint-down(xl) {
    padding: 20px;
    min-height: 430px;
  }

  @include media-breakpoint-down(lg) {
    min-height: 350px;
  }

  &:after {
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 320px;
    content: '';
    background: linear-gradient(180deg, rgba(20, 66, 250, 0) 0%, #1441fc 100%);
    border-radius: 4px;
  }

  &__picture {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    max-width: 100%;
    min-height: 110%;
    max-height: calc(100% + 120px);
    transform: translateX(-50%);

    @include media-breakpoint-down(lg) {
      max-height: calc(100% + 50px);
    }
  }

  &__picture-img {
    max-width: 100%;
    max-height: 100%;

    @include media-breakpoint-down(lg) {
      max-height: calc(100% + 50px);
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    display: flex;
    max-width: 200px;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-down(lg) {
      max-width: none;
    }
  }

  &__title {
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;

    @include transition;

    &:hover {
      opacity: .8;
      color: #fff;
    }
  }

  &__btn {
    margin-top: 13px;
    padding: 7px 17.3px;
    display: none;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    text-decoration: none;
    color: #00004a;
    background: #5af7dc;
    border-radius: 4px;

    @include transition;

    @include media-breakpoint-down(xl) {
      margin-top: 15px;
    }

    &:hover {
      opacity: .8;
    }
  }

  &--new {
  }
}
