extends ../templates/template.pug
block content
  .page.page--dark
    +header
    .article
      .container
        .article__cover
          img.article__cover-img(src="./img/cover-1.jpg", alt)
          .article__cover-top
            +back.back--colored
          .article__cover-bottom
            .article__date 12 АПРЕЛЯ 2021
            h2.sm.article__cover-title.mb-0 В зоне: Быстрая контратака шерифа
        .row
          .col-lg-8
            .article__content.article__content--light
              h3 Себастьен Алле догнал Роберта Левандовски в списке лучших бомбардиров Лиги чемпионов-2021/22 - у обоих нападающих по девять мячей в этом розыгрыше.
              p В пятом туре нападающий "Аякса" вышел на замену в перерыве при счете 0:1 в пользу "Бешикташа" и своим дублем принес амстердамцам победу - 2:1. Тем самым он стал первым игроком в истории Лиги чемпионов, который забил девять голов в своих пяти первых матчах. Ранее Алле стал первым со времен Марко ван Бастена, кто оформил покер в своем дебютном матче в Лиге чемпионов, забив в первом туре четыре гола в ворота "Спортинга" (5:1).
              img(src="./img/article-1.jpg", alt)
              p За день до геройств Алле форвард "Баварии" Роберт Левандовски забил киевскому "Динамо" и стал первым игроком в истории, кто дважды отличился в девяти матчах Лиги чемпионов подряд. В предыдущем туре Левандовски провел свой 100-й матч в Лиге чемпионов УЕФА и отметил юбилей хет-триком в ворота "Бенфики".
              p На третье место с семью голами вышел Кристофер Нкунку из "Лейпцига", оформивший дубль в матче с "Брюгге", хотя даже победы 5:0 не хватило немецкому клубу для выхода в плей-офф. За ним располагаются нападающий "МЮ" Криштиану Роналду и лучший снайпер "Ливерпуля" Мохамед Салах, которые забили по шесть мячей.
          .col-xl-3.offset-xl-1.col-lg-4
            h5.text-white.mb-30 Другие <br>материалы
            +material({
              picture: 'material-1.jpg'
            }).material--colored
    +footer
