extends ../templates/template.pug
block content
  .page.page--dark.page--push
    +header
    .wrapper
      .container.mt-20.mb-50.mb-xl-100
        h1.text-white.mb-40.mb-xl-70 Контакты
        .contacts
          .row
            .col-md-6.d-flex
              .contacts__picture
                img.contacts__picture-img(src="./img/contacts.jpg", alt)
            .col-md-6.d-flex
              .contacts__content
                p.text-dark.mb-10 По всем вопросам, связанным с использованием материалов АНО «УЕФА Евро 2020», необходимо обратиться в АНО «УЕФА Евро 2020»  по электронной почте
                a.contacts__email(href="#") info@final2022.ru
                p.contacts__item
                  span.contacts__item-header Адрес: 
                  span.contacts__item-content 119048, Москва, Новолужнецкий проезд, дом 9, строение 6 
                p.contacts__item
                  span.contacts__item-header Телефон: 
                  span.contacts__item-content 8 (495) 540-20-20  
    +footer
