extends ../templates/template.pug
block content
  .page.page--dark.page--push
    +header
    .wrapper
      .docs
        .container.mt-20.mb-50.mb-xl-100
          h1.text-white.docs__title.mb-25.mb-xl-40 Документы
          ul.nav.nav-tabs(role='tablist')
            li.nav-item
              button.nav-link.docs__subheader.active(data-bs-toggle='tab' data-bs-target='#press' type='button' role='tab' aria-selected='true') Пресс-релизы
            li.nav-item
              button.nav-link.docs__subheader(data-bs-toggle='tab' data-bs-target='#tech' type='button' role='tab' aria-selected='true') Техническая документация
            li.nav-item
              button.nav-link.docs__subheader(data-bs-toggle='tab' data-bs-target='#archive' type='button' role='tab' aria-selected='true') Архив
          .tab-content
            #press.tab-pane.fade.show.active(role='tabpanel')
              .document__wrapper
                +document({
                  title: 'Оставшиеся билеты на матчи ЕВРО 2020 поступят в продажу 1 июня'
                })
                +document({
                  title: 'Перед ЕВРО интересными для любителей футбола станут даже школьные уроки'
                })
                +document({
                  title: 'Выставка Кубка Анри Делоне открылась у стен Петропавловки после путешествия трофея по Петербургу'
                })
                +document({
                  title: 'Ростислав Хаит и Леонид Барац стали послами ЕВРО 2020 в Санкт-Петербурге'
                })
                +document({
                  title: 'Началась аккредитация в Городской пресс-центр ЕВРО 2020'
                })
                +document({
                  title: 'Санкт-Петербург получил три дополнительных матча ЕВРО 2020'
                })
                +document({
                  title: 'Победители первого Кубка Европы «поселились» в «Квартире №60»'
                })
                +document({
                  title: 'Огромный макет стадиона «Санкт-Петербург» представили за 50 дней до старта ЕВРО'
                })
                +document({
                  title: 'Городской пресс-центр приглашает журналистов на ЕВРО 2020 в Санкт-Петербурге'
                })
                +document({
                  title: 'Большинство городов-организаторов ЕВРО 2020 готовы провести турнир со зрителями'
                })
                +document({
                  title: 'Аккредитация СМИ на ЕВРО 2020'
                })
            #tech.tab-pane.fade(role='tabpanel')
              .document__wrapper
                +document({
                  title: 'Оставшиеся билеты на матчи ЕВРО 2020 поступят в продажу 1 июня'
                })
                +document({
                  title: 'Перед ЕВРО интересными для любителей футбола станут даже школьные уроки'
                })
                +document({
                  title: 'Выставка Кубка Анри Делоне открылась у стен Петропавловки после путешествия трофея по Петербургу'
                })
            #archive.tab-pane.fade(role='tabpanel')
              .document__wrapper
                +document({
                  title: 'Оставшиеся билеты на матчи ЕВРО 2020 поступят в продажу 1 июня'
                })
                +document({
                  title: 'Перед ЕВРО интересными для любителей футбола станут даже школьные уроки'
                })
    +footer
