extends ../templates/template.pug
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom Список страниц
    .row
      .col-md-4
        ul.pl-0
          li(style="list-style: none;")
            a.d-block.my-20(href="main.html", style="font-size: 20px;") Main
          li(style="list-style: none;")
            a.d-block.my-20(href="article.html", style="font-size: 20px;") Article
          li(style="list-style: none;")
            a.d-block.my-20(href="article-alt.html", style="font-size: 20px;") Article-alt
          li(style="list-style: none;")
            a.d-block.my-20(href="docs.html", style="font-size: 20px;") Docs
          li(style="list-style: none;")
            a.d-block.my-20(href="contacts.html", style="font-size: 20px;") Contacts
