extends ../templates/template.pug
block content
  .page.page--main
    .page__content
      +header({
        nologo: true
      }).header--absolute
      +front
      +info#content
      +steps
      .container
        h3.text-center.text-uppercase.spaced.text-white.mb-40.mb-xl-100.pb-xl-20 пОЛЕЗНЫЕ МАТЕРИАЛЫ
        .slider
          .slider__content
            +material({
              picture: 'material-1.jpg'
            }).material--colored.slider__item
            +material({
              picture: 'material-2.jpg'
            }).slider__item
            +material({
              picture: 'material-3.jpg',
              type: 'title'
            }).slider__item
            +material({
              picture: 'material-1.jpg'
            }).slider__item
            +material({
              picture: 'material-4.jpg'
            }).slider__item
            +material({
              picture: 'material-2.jpg'
            }).slider__item
      +footer
