mixin front(data)
  .front&attributes(attributes)
    .container
      .front__container
        +logo.front__logo
        .front__wrapper
          .front__picture
            img.front__picture-item(src="./img/front-1.png", alt)
            img.front__picture-item(src="./img/front-2.png", alt)
            img.front__picture-item(src="./img/front-3.png", alt)
            img.front__picture-item(src="./img/front-4.png", alt)
            img.front__picture-item(src="./img/front-5.png", alt)
            img.front__picture-item(src="./img/front-6.png", alt)
            img.front__picture-item(src="./img/front-7.png", alt)
            img.front__picture-item.front__picture-item--cup(src="./img/front-cup.png", alt)
          .front__content-text
            +final.front__final
          +down.front__down
