.front {
  display: flex;
  min-height: 100vh;
  align-items: center;

  @include media-breakpoint-down(md) {
    min-height: 0;
  }

  &__container {
    position: relative;
    padding-top: 57px;

    @media (max-height: 1000px) {
      transform: scale(.8);
      transform-origin: center;
    }

    @media (max-height: 800px) {
      transform: scale(.65);
      transform-origin: center;
    }

    @include media-breakpoint-down(lg) {
      transform: scale(1);
    }
  }

  &__logo {
    position: absolute;
    z-index: 10;
    top: 0;
    left: calc(50% - 63px);
    max-width: 151px;

    @include media-breakpoint-down(md) {
      left: calc(50% - 30px);
      max-width: 70px;
    }
  }

  &__wrapper {

    @include media-breakpoint-down(lg) {
      display: flex;
      min-height: 600px;
      justify-content: center;
    }

    @include media-breakpoint-down(md) {
      min-height: 400px;
    }
  }

  &__picture {
    position: relative;
    margin: 0 auto;
    width: 842px;
    height: 702px;

    @include media-breakpoint-down(lg) {
      position: absolute;
      transform: scale(.75);
      transform-origin: top center;
    }

    @include media-breakpoint-down(md) {
      transform: scale(.4);
      transform-origin: top center;
    }
  }

  &__picture-item {
    position: absolute;

    &:nth-child(1) {
      z-index: 1;
      top: 32px;
      left: 0;
    }

    &:nth-child(2) {
      z-index: 2;
      top: 0;
      right: 0;
    }

    &:nth-child(3) {
      z-index: 3;
      top: 0;
      left: 211px;
    }

    &:nth-child(4) {
      z-index: 7;
      top: 182px;
      left: 156px;
    }

    &:nth-child(5) {
      z-index: 5;
      top: 136px;
      right: 100px;
    }

    &:nth-child(6) {
      z-index: 6;
      top: 194px;
      right: 144px;
    }

    &:nth-child(7) {
      z-index: 4;
      right: 170px;
      bottom: 0;
    }

    &--cup {
      z-index: 8;
      top: 200px;
      right: 320px;
    }
  }

  &__final {
    position: absolute;
    z-index: 9;
    bottom: 30px;
    left: calc(50% - 165px);

    @include media-breakpoint-down(md) {
      left: 50%;
      margin: 0 auto;
      max-width: 300px;
      transform: translateX(-50%);
    }
  }

  &__down {
    position: absolute;
    top: calc(100% + 30px);
    left: 50%;
    transform: translateX(-50%);

    @include media-breakpoint-down(md) {
      top: 100%;
    }
  }
}
