.contacts {
  margin-bottom: 180px;

  @include media-breakpoint-down(xl) {
    margin-bottom: 80px;
  }

  &__picture {
    position: relative;
    width: 100%;
    min-height: 400px;
    border-radius: 4px;

    @include media-breakpoint-down(xl) {
      min-height: 300px;
    }
  }

  &__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
    object-position: top center;
  }

  &__content {
    padding: 24px 36px;
    width: 100%;
    background: #fff;
    border-radius: 4px;
  }

  &__email {
    margin-bottom: 20px;
    display: inline-flex;
    font-size: 30px;
    line-height: 1.3;
    text-decoration: none;
    color: #40b7e7;

    @include transition;

    &:hover {
    }
  }

  &__item {
    margin-bottom: 18px;
    line-height: 1.5;
    color: #888;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-header {
    color: #888;
  }

  &__item-content {
    color: $dark;
  }
}
