mixin menu(data)
  .menu&attributes(attributes)
    a.menu__btn(href="#")
    .menu__content
      .container.menu__content-inner
        .menu__header
          .row
            .col-md-11.offset-md-1.col-10.offset-2 
              h2.menu__title.mb-0 Меню
        .menu__wrapper
          .row
            .col-xl-3.offset-xl-1.col-md-6.offset-md-0.offset-2.col-10
              .menu__section
                a.h3.menu__section-header(href="#") Турнир
                a.menu__section-link(href="#") Город
                a.menu__section-link(href="#") Стадион
                a.menu__section-link(href="#") Медиа
                a.menu__section-link(href="#") Организация
                a.menu__section-link(href="#") Полезные материалы
            .col-xl-3.offset-xl-1.col-md-6.offset-md-0.offset-2.col-10
              .menu__section
                a.h3.menu__section-header(href="#") Документы
                a.menu__section-link(href="#") Пресс-релизы
                a.menu__section-link(href="#") Техническая документация
                a.menu__section-link(href="#") Архив
          .menu__mobile
            .row
              .col-xl-3.offset-xl-1.col-md-6.offset-2.col-10
                a.btn.btn-primary.menu__mobile-btn(href="#") Стать волонтером
