.menu {

  &__btn {
    display: block;
    width: 26px;
    height: 19px;
    background: url(../img/menu-btn.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .8;
    }

    &--active {
      position: relative;
      z-index: 9001;
      background: url(../img/menu-close.svg) no-repeat center;
    }
  }

  &__content {
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;
    padding-top: 35px;
    display: none;
    width: 100%;
    height: 100%;

    @include media-breakpoint-down(md) {
      padding-top: 30px;
      padding-bottom: 30px;
      overflow: auto;
      min-height: 100vh;
      background: rgba(0, 0, 74, .9);
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: rgba(0, 0, 74, .8);
      backdrop-filter: blur(16px);

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &--active {
      display: block;
    }
  }

  &__content-inner {
    position: relative;
    z-index: 11;
  }

  &__header {
    color: #fff;
  }

  &__title {
    font-weight: 400;

    @include media-breakpoint-down(md) {
      font-size: 30px;
    }
  }

  &__wrapper {
    margin-top: 114px;

    @include media-breakpoint-down(md) {
      margin-top: 30px;
    }
  }

  &__section {

    @include media-breakpoint-down(md) {
      margin-bottom: 50px;
      flex-shrink: 0;
    }
  }

  &__section-header {
    margin-bottom: 40px;
    display: block;
    text-decoration: none;
    color: #fff;

    @include transition;

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
      font-size: 24px;
    }

    &:hover {
      opacity: .7;
      color: #fff;
    }
  }

  &__section-link {
    margin-bottom: 25px;
    display: block;
    font-size: 20px;
    line-height: 1.15;
    text-decoration: none;
    color: #fff;

    @include transition;

    @include media-breakpoint-down(md) {
      margin-bottom: 15px;
      font-size: 16px;
    }

    &:hover {
      opacity: .7;
      color: #fff;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__mobile {
    display: none;

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  &__mobile-btn {
  }
}
