.countdown {
  padding: 5px 12px;
  display: flex;
  align-items: center;
  text-decoration: none;
  background: url(../img/countdown-bg.png) no-repeat top 9px right 9px,
    linear-gradient(280.2deg, #ff9f2a -41.5%, #ff6900 54.63%);
  border-radius: 4px;

  @include transition;

  @include media-breakpoint-down(md) {
    padding: 5px 10px 5px 5px;
    background: linear-gradient(280.2deg, #ff9f2a -41.5%, #ff6900 54.63%);
  }

  &:hover {
    opacity: .9;
  }

  &__number {
    margin-right: 18px;
    font-size: 42px;
    line-height: 1.1;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;

    @include media-breakpoint-down(md) {
      margin-right: 10px;
      font-size: 36px;
      font-weight: 400;
      -webkit-text-stroke-width: 1px;
    }
  }

  &__content {
    font-size: 10px;
    line-height: 1.09;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;

    @include media-breakpoint-down(md) {
      font-size: 10px;
    }
  }
}
