mixin header(data)
  .header&attributes(attributes)
    .container
      .header__wrapper
        .header__left
          +menu.header__menu
          if data && data.nologo
          else
            +logo.header__logo
          +countdown.header__countdown
        .header__right
          a.btn.btn-primary.header__btn(href="#") Стать волонтером
          a.header__user(href="#")