.header {
  padding: 34px 0 31px;

  @include media-breakpoint-down(md) {
    padding: 20px 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__menu {
    margin-right: 38px;

    @include media-breakpoint-down(md) {
      margin-right: 20px;
    }
  }

  &__logo {
    margin-right: 38px;
    max-width: 70px;
    flex-shrink: 0;

    @include media-breakpoint-down(md) {
      margin-right: 20px;
      max-width: 40px;
    }
  }

  &__countdown {
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__btn {

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__user {
    margin-left: 16px;
    width: 36px;
    height: 36px;
    background: url(../img/user-icon.svg) no-repeat center;
    background-size: 40%;
    border: 1px solid $primary;
    border-radius: 4px;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &--absolute {
    position: absolute;
    width: 100%;

    @include media-breakpoint-down(md) {
      position: relative;
    }
  }
}
