.down {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: .5;
  font-size: 18px;
  line-height: 1.11;
  text-align: center;
  text-decoration: none;
  color: #fff;

  @include transition;

  &:hover {
    opacity: 1;
    color: #fff;
  }

  &:before {
    margin-bottom: 6px;
    display: block;
    width: 16px;
    height: 16px;
    content: '';
    background: url(../img/go-down.svg) no-repeat center;
    background-size: contain;
  }
}
