.back {
  display: block;
  width: 40px;
  height: 40px;
  background: url(../img/back-arrow.svg) no-repeat center;
  border-radius: 4px;

  @include transition;

  &:hover {
    opacity: .8;
  }

  &--colored {
    background: $primary url(../img/back-arrow.svg) no-repeat center;
  }
}
